# hidden files.
**/.DS_Store

# hidden folders.
**/dist
**/.git
**/.svelte-kit
**/.vscode
**/.ipynb_checkpoints

**/__pycache__
**/*.egg-info

# all .env except for .env.example.
**/.env
**/.env.*
**/!.env.example

!**/.gitkeep

**/build
**/node_modules
**/package

# files for PNPM, and YARN.
**/pnpm-lock.yaml
**/yarn.lock

# user files.
**/config

scripts
backend/all-shootings-2014-2023.csv
frontend/src/lib/static/data.json
