.DS_Store
.vscode/

frontend/.svelte-kit/
frontend/dist/
frontend/node_modules/

backend/.venv/
backend/build/
backend/src/__pycache__/
backend/*.egg-info/

backend/all-shootings-2014-2023.csv
frontend/src/lib/static/data.json
